{% block body %}
<h1> Ajouter une voiture:</h1>
{{  form_start(form) }}
<div>
{{ form_widget(form.Matricule, {'attr' : {'placeholder': 'Matricule de la voiture'}})   }}
</div> 
<div>
{{ form_widget(form.Marque, {'attr' : {'placeholder': 'Marque de la voiture'}})   }}
{{ form_errors(form.Marque) }}
</div> 
<div>
{{ form_widget(form.Couleur, {'attr' : {'placeholder': 'Couleur de la voiture'}})   }}
</div> 
<div>
{{ form_widget(form.TypeDeCarburant, {'attr' : {'placeholder': 'Carburant de la voiture'}})   }}
</div> 
<div>
{{ form_widget(form.TypeDeCarburant, {'attr' : {'placeholder': 'Carburant de la voiture'}})   }}
</div> 
<div>
{{ form_widget(form.Description, {'attr' : {'placeholder': 'Description de la voiture'}})   }}
</div> 

<div>
{{ form_widget(form.NombreDePlace,{'attr':{'class':'form-control'}})}}
</div>

<div>
<input type="submit" name="Save" value="Enregistrer" class="btn btn-primary">
</div>
{{ form_end(form) }}
{% endblock %}